{% extends "base.html" %}
{% load static %}

{% block title %}Reset Kata Sandi{% endblock title %}

{% block content %}
  <div class="bg-gray-800 flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-xl shadow-2xl max-w-md w-full">
      <div class="flex justify-center my-2">
        <i class="bx bxs-message-square-error text-3xl text-amber-500"></i>
      </div>
      <h2 class="text-2xl text-gray-800 text-center font-semibold">Reset Kata Sandi</h2>

      {% if delta|default:None %}
        <div class="my-7">
          <p>
            Anda telah menyetel ulang kata sandi
            {% if delta <= 1 %}
              <strong>Hari ini,</strong>
            {% elif delta <= 2 %}
              <strong>Kemarin,</strong>
            {% else %}
              <strong>{{ delta }} Hari yang lalu,</strong>
            {% endif %}
            dan belum dapat melakukannya lagi.
          </p>
          <div class="relative">
            <div class="absolute inset-0 flex items-center justify-center">
              <div class="border-t border-dashed border-black w-full"></div>
            </div>
            <div class="relative overflow-hidden">
              <div class="px-6 py-4"></div>
            </div>
          </div>
          <p>
            Apabila terjadi kesalahan, harap hubungi Admin.
          </p>
        </div>
        <div class="flex justify-center">
          <a href="{% url 'authentication:login' %}">
            <button type="button" class="bg-blue-500 border border-solid border-blue-500 text-white px-4 py-2 rounded-md hover:bg-white hover:text-blue-500">Kembali</button>
          </a>
        </div>
      {% else %}
        {% if next|default:None %}
          <div class="my-7">
            <p>
              Silahkan masukkan <strong>Kata Sandi</strong> baru untuk menggantikan kata sandi lama.
            </p>
            <div class="relative">
              <div class="absolute inset-0 flex items-center justify-center">
                <div class="border-t border-dashed border-black w-full"></div>
              </div>
              <div class="relative overflow-hidden">
                <div class="px-6 py-4"></div>
              </div>
            </div>
            <p>
              Setelah mengganti kata sandi, Anda tidak dapat mengubahnya lagi selama <strong>7 Hari</strong> kedepan.
            </p>
          </div>
        {% else %}
          <div class="my-7">
            <p>
              <strong>Username</strong> atau <strong>Email</strong> diperlukan untuk proses penyetelan ulang kata sandi.
            </p>
          </div>
        {% endif %}

        <form method="POST">
          {% if next|default:None %}
            <div x-data="{ inputValue: '' }">
              <input required type="hidden" id="username" name="username" value="{{ username }}"/>
              <input required type="hidden" id="email" name="email" value="{{ email }}"/>
              <input type="hidden" id="type" name="type" value="change_password"/>

              <div x-data="{ reveal: false, match: null, password: null, confirmPassword: null }">
                <div class="mb-6">
                  <label for="password" class="block text-gray-700 font-medium">Kata Sandi Baru</label>
                  <div class="flex justify-between items-center">
                    <input required x-bind:type="reveal ? 'text' : 'password'" x-model="password" x-on:input="match = password === confirmPassword && password !== ''" id="password" name="password" placeholder="Kata Sandi Baru" maxlength="16" class="w-full border rounded-md px-4 py-2 mt-1 bg-gray-100 focus:outline-none focus:border-blue-500"/>
                  </div>
                </div>

                <div class="mb-6">
                  <label for="confirmPassword" class="block text-gray-700 font-medium">Konfirmasi Kata Sandi</label>
                  <input required x-bind:type="reveal ? 'text' : 'password'" x-model="confirmPassword" x-on:input="match = password === confirmPassword && password !== ''" id="confirmPassword" name="confirmPassword" placeholder="Ulangi Kata Sandi" maxlength="16" class="w-full border rounded-md px-4 py-2 mt-1 bg-gray-100 focus:outline-none focus:border-blue-500"/>
                </div>

                <div class="flex justify-between items-center">
                  <p x-bind:class="{ 'text-sm': true, 'text-white': match == null, 'text-emerald-600': match, 'text-red-600': !match, 'select-none': true }" x-text="match ? 'Kata sandi cocok' : 'Kata Sandi tidak cocok!'"></p>
                  <div class="flex items-center hover:cursor-pointer" x-on:click="reveal = !reveal">
                    <p x-text="reveal ? 'Sembunyikan Kata Sandi' : 'Perlihatkan Kata Sandi'" class="select-none text-gray-800"></p>
                    <i x-bind:class="{ 'bx': true, 'bx-show': !reveal, 'bx-low-vision': reveal, 'mx-2': true, 'text-lg': true, 'text-gray-800': true }"></i>
                  </div>
                </div>

                <div class="my-3 flex justify-between">
                  <a href="{% url 'authentication:login' %}">
                    <button type="button" class="bg-blue-500 border border-solid border-blue-500 text-white px-4 py-2 rounded-md hover:bg-white hover:text-blue-500">Batal</button>
                  </a>
                  <img src="{% static 'favicon.ico' %}" alt="App Logo" class="w-10"/>
                  <button x-bind:type="match ? 'submit' : 'button'" class="bg-amber-500 border border-solid border-amber-500 text-white px-4 py-2 rounded-md hover:bg-white hover:text-amber-500">Submit</button>
                </div>
              </div>
            </div>

          {% else %}
            <div x-data="{ inputValue: '' }">
              <input required type="text" id="username" name="username" placeholder="Username atau Email" x-model="inputValue" class="w-full border rounded-md px-4 py-2 mt-1 bg-gray-100 focus:outline-none focus:border-blue-500"/>
              <input required type="hidden" id="email" name="email" x-bind:value="inputValue"/>
              <input type="hidden" id="password" name="password" value="x-default-pass"/>
              <input type="hidden" id="type" name="type" value="validation"/>
            </div>

            <div class="my-3 flex justify-between">
              <a href="{% url 'authentication:login' %}">
                <button type="button" class="bg-blue-500 border border-solid border-blue-500 text-white px-4 py-2 rounded-md hover:bg-white hover:text-blue-500">Kembali</button>
              </a>
              <img src="{% static 'favicon.ico' %}" alt="App Logo" class="w-10"/>
              <button type="submit" class="bg-amber-500 border border-solid border-amber-500 text-white px-4 py-2 rounded-md hover:bg-white hover:text-amber-500">Setel Ulang</button>
            </div>
          {% endif %}
          {% csrf_token %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock content %}