{% extends "bases/app.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
  <div class="bg-gray-800 p-4 flex justify-center items-center text-white font-bold mb-10">
    Dashboard
  </div>

  <div class="flex justify-evenly mt-2 w-full">
    <div class="w-[50%] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      <div class="p-2 rounded shadow">
        <div class="flex items-center justify-evenly">
          <i class="bx bxs-data text-pink-800 text-4xl opacity-60"></i>
          <div class="ml-2">
            <h2 class="text-gray-700 text-lg font-semibold mb-2">File di Server</h2>
            <p class="text-gray-500 text-2xl font-bold">{{ server_files_count }}</p>
          </div>
        </div>
      </div>
      <div class="p-2 rounded shadow">
        <div class="flex items-center justify-evenly">
          <i class="bx bx-lock text-orange-800 text-4xl opacity-60"></i>
          <div class="ml-2">
            <h2 class="text-gray-700 text-lg font-semibold mb-2">File Terenkripsi</h2>
            <p class="text-gray-500 text-2xl font-bold">{{ encrypted_count }}</p>
          </div>
        </div>
      </div>
      <div class="p-2 rounded shadow">
        <div class="flex items-center justify-evenly">
          <i class="bx bx-lock-open text-orange-800 text-4xl opacity-60"></i>
          <div class="ml-2">
            <h2 class="text-gray-700 text-lg font-semibold mb-2">File Terdekripsi</h2>
            <p class="text-gray-500 text-2xl font-bold">{{ decrypted_count }}</p>
          </div>
        </div>
      </div>
      <div class="p-2 rounded shadow">
        <div class="flex items-center justify-evenly">
          <i class="bx bxs-folder-open text-yellow-800 text-4xl opacity-60"></i>
          <div class="ml-2">
            <h2 class="text-gray-700 text-lg font-semibold mb-2">File Total</h2>
            <p class="text-gray-500 text-2xl font-bold">{{ total_files_count }}</p>
          </div>
        </div>
      </div>
      <div class="p-2 rounded shadow">
        <div class="flex items-center justify-evenly">
          <i class="bx bxs-user text-green-800 text-4xl opacity-60"></i>
          <div class="ml-2">
            <h2 class="text-gray-700 text-lg font-semibold mb-2">Akun Pengguna</h2>
            <p class="text-gray-500 text-2xl font-bold">{{ users_count }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-60 min-h-60 p-2 rounded shadow">
      <h2 class="text-gray-700 text-lg text-center font-semibold mb-2">Aktivitas Terbaru</h2>
      <div class="p-4 bg-gray-100 rounded flex flex-col">
        {% if recent_activities|length == 0 %}
          <i class="bx bx-ghost text-center text-4xl text-gray-500"></i>
          <div class="my-2"></div>
          <p class="text-gray-500 text-sm text-center">Belum ada aktivitas</p>
        {% endif %}

        {% for activity in recent_activities %}
          <div class="flex items-center mb-2">
            <i class="{{ activity.box_icon }} {{ activity.tw_color }} text-xl mr-2"></i>
            <div>
              <p class="text-gray-700 text-sm">{{ activity.action }}</p>
              <p class="text-gray-500 text-xs">{{ activity.user }}</p>
              <div class="flex justify-between items-center">
                <p class="text-gray-500 text-xs">{{ activity.time_difference }}</p>
                <i class="bx bxs-watch text-gray-500 text-sm mx-1"></i>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}