{% extends "bases/app.html" %}

{% block title %}Enkripsi{% endblock title %}

{% block body %}
  <div class="bg-gray-800 p-4 flex justify-center items-center text-white font-bold mb-10">
    Encryption
  </div>

  <div id="validation" class="flex justify-center items-center" x-data="{ valid: false }">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h2 class="text-2xl font-semibold mb-4">Enkripsi File</h2>
      <form method="post" action="{% url 'app:encryption' %}" enctype="multipart/form-data">
        <div class="mb-4">
          <label for="file" class="block text-gray-700 font-medium mb-2">Pilih dan upload file untuk dienkripsi:</label>
          <input type="file" id="file" name="file" class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500"/>
        </div>
        <div class="mb-4">
          <label for="key" class="block text-gray-700 font-medium mb-2">Kunci Enkripsi:</label>
          <input type="text" id="key" name="key" class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500" placeholder="Masukan kunci enkripsi anda (min 8 karakter)" minlength="8" maxlength="56"/>
        </div>
        <button x-bind:type="valid ? 'submit' : 'button'" id="encryptionForm" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Encrypt</button>
        {% csrf_token %}
      </form>
    </div>
  </div>

  {% if success %}
    <div class="flex justify-center items-center mt-10">
      <div class="bg-white p-8 min-w-80 text-center rounded shadow-md">
        <p>
          File Berhasil Dienkripsi! <br/>
          <strong>Waktu Pemrosesan :</strong> {{ elapsed_time }} detik <br/>
          <strong>Blowfish Validation Key :</strong> {{ validation_key }}<br/>
          <strong>Kode :</strong> {{ name }} <br/>
          <strong>Ukuran :</strong> {{ size }} <br/>
          <strong>Checksum :</strong> {{ checksum }}
        </p>
        <button onclick="window.location.href='{% url 'download:object' oid %}'" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:bg-green-700">
          <i class='bx bxs-file-{{ extension }}'></i>
          Unduh
        </button>
      </div>
    </div>
  {% endif %}
{% endblock body %}

{% block script %}
  <script>
    document.getElementById('encryptionForm').addEventListener('click', function(event) {
      const fileInput = document.getElementById('file').files[0];
      const encryptionKey = document.getElementById('key').value;
      const formValidation = document.getElementById('validation');

      if (!fileInput || !encryptionKey) {
        showModal("Error", "Harap pilih file dan masukkan kunci enkripsi.");
        return;
      }

      const componentData = Alpine.$data(formValidation);
      componentData.valid = true;
    });
  </script>
{% endblock script %}